.header {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fcd34d;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.header__left {
  margin: 0.4 rem 0.5rem;
}

.header__right {
  display: flex;
  flex-direction: row;
}

.header__LogoutButton {
  width: 2 rem;
  height: 1.5rem;
  margin: 1.9rem 0.5rem;
  cursor: pointer;
}

.header__UserAvatar {
  height: 0.5rem;
}

.header__UserAvatar > img {
  height: 3rem;
  margin: 1.2rem 0.5rem;
  border-radius: 5px;
}
